@font-face{
    font-family: jelly;
    src: url(JellyBomb.ttf);
}

.name{
    font-family: fantasy;
    font-size: 30px;
    
}

.type{
    font-family: cursive;
    font-size: 20px;
    margin: 0;
    transform: translateY(-5px);
      box-shadow: 0px 10px 10px rgba(0,0,0,0.4);
      box-shadow: 0px 5px 10px rgba(0,0,0,0.4);
    
}

.div{
    display: block;
    margin: 4%;
    display: inline-table;
    background-color: rgb(241, 247, 241);
    width: 240px; 
     height: 340px; 
     border: 3px solid rgb(63, 52, 52);
    border-radius: 10%;
    padding: 5px;
    
   
  
    /* -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .div:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
   
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
  }
  /*
  .div:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    
  }
  .div:hover:before, .div:focus:before, .div:active:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    
  } */
  
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
  }
  .div:hover, .div:focus, .div:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  
/* 
.img {
  border-radius: 50%;
	background: white;
	box-shadow: 0px 0px 20px #1a1917, 0px 0px 30px #36342f, inset 0px 0px 10px #2c2b27;
	animation: spin 1s infinite linear;
} */
  
/* @keyframes spin{
	25%{transform: translateX(-25px) translateY(-35px);
			width: 15px;
			height: 15px;}
	50% {transform: translateX(-55px) translateY(-30px);
			width: 5px;
			height: 5px;}
	75% {transform: translateX(-85px) translateY(-35px);
			width: 15px;
			height: 15px;}
} */

  