.number{
    display: inline;
    font-family:'Staatliches', cursive
    /* width: 20px;
     height: 20px;
     -moz-border-radius: 10%;
     -webkit-border-radius: 10%;
     border-radius: 50%; */
}

  .number a {
    color: black;
    padding: 8px 16px;
  }
  .number a.activo {
    color: white;
  }
  .number a:hover:not(.activo){
    background-color: gray;
  }