.bodycreated{
    background-image: url(https://estaticos.muyinteresante.es/media/cache/760x570_thumb/uploads/images/gallery/5b0fcfa25bafe83df2c203b3/pokemon1.jpg);

}


.divpokecreate{
    display: auto;
}

@font-face{
    font-family: Rampart One ;
    src: url(RampartOne-Regular.ttf);
}

.crearpokemon{
    margin-top: 3%;
    /* margin: 3%; */
    font-family: Rampart One;
    font-size: 70px;
    color: black;
    background: rgb(252, 250, 250);
}

.divform{
    margin: 5%;
    height: 30%;
    width: 55%;
    display: inline-block;
    background-color: rgb(189, 104, 34);
    border: 3px solid #555;
    border-radius: 8%;
}

.form{
    display: block;
    font-family: "Comic Sans MS", cursive, sans-serif;
        letter-spacing: 2px;
        word-spacing: 2px;
     color:black
}

